{% extends 'include/base.html' %}

{% block content %}
  {% include 'include/navbar.html' %}

  <div class="container mt-5">
    <h1>{{request.user}}</h1>
    <h3>Membership: <span>{{request.user.subscription_status}}</span></h3>
    {% if request.user.subscription_status == 'active' or request.user.subscription_status == 'trialing' %}
    <a href="{% url 'cancel-subscription' %}" class="btn btn-danger">Cancel Subscription</a>
    {% else %}
    <a href="{% url 'subscribe' %}" class="btn btn-success">Subscribe</a>
    {% endif %}
  </div>

{% endblock content %}