{% extends 'include/base.html' %}

{% block content %}
  {% include 'include/navbar.html' %}

  <!-- <div class="container mt-5">
    <h1>{{request.user}}</h1>
    <h3>Membership: <span>{{request.user.subscription_status}}</span></h3>
    {% if request.user.subscription_status == 'active' or request.user.subscription_status == 'trialing' %}
    <a href="{% url 'cancel-subscription' %}" class="btn btn-danger">Cancel Subscription</a>
    {% else %}
    <a href="{% url 'subscribe' %}" class="btn btn-success">Subscribe</a>
    {% endif %}
  </div> -->
  <div class="container mt-5">
    <div class="gallery row">
      <div class="single-video col-lg-4">
        <figure>
          <iframe src="https://www.youtube.com/embed/OG__SwkV3wg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="single-video col-lg-4">
        <figure>
          <iframe src="https://www.youtube.com/embed/OG__SwkV3wg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="single-video col-lg-4">
        <figure>
          <iframe src="https://www.youtube.com/embed/OG__SwkV3wg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="single-video col-lg-4">
        <figure>
          <iframe src="https://www.youtube.com/embed/OG__SwkV3wg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="single-video col-lg-4">
        <figure>
          <iframe src="https://www.youtube.com/embed/OG__SwkV3wg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
      </div>
    </div>
  </div>
  
  
  <!--
  https://img.youtube.com/vi/THE-VIDEO-ID/0.jpg or
  https://img.youtube.com/vi/THE-VIDEO-ID/default.jpg – full size thumb
  https://img.youtube.com/vi/THE-VIDEO-ID/mqdefault.jpg – medium default
  https://img.youtube.com/vi/THE-VIDEO-ID/maxresdefault.jpg – high res
  https://img.youtube.com/vi/THE-VIDEO-ID/1.jpg – small thumb
  https://img.youtube.com/vi/THE-VIDEO-ID/2.jpg – small thumb
  https://img.youtube.com/vi/THE-VIDEO-ID/3.jpg – small thumb
  -->

{% endblock content %}