{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <!-- Page Content  -->
    <div id="content" class="">
    	<div class="dashboard setting_sec">
        	<div class="container">
            	<h2 class="global_title">Settings</h2>
                {% if messages %}
                    <div class="fix_alert">
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            {{message}} <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="POST" action="" enctype='multipart/form-data' >{% csrf_token %}
                    <div class="extra_content">
                        <div class="form_info">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h2 class="global_title">General</h2>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Change Logo</label>
                                    <div class="upload_btn">
                                        <div class="fileUpload btn btn-primary">
                                            <span><i><img src="{{sa_logo.url}}" height="50" alt=""></i>
                                            Upload Images (Drag & drop or click here to select)</span>
                                            {{form.logo}}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-12">
                                    <hr>
                                    <h2 class="global_title">QR Code</h2>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>{{form.qr_code_text.label}}</label>
                                    {{form.qr_code_text}}
                                </div>
                                <div class="form-group col-md-12">
                                    <hr>
                                    <h2 class="global_title">Charges</h2>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{form.project_rate.label}} (in $)</label>
                                    {{form.project_rate}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{form.layer_rate.label}} (in $)</label>
                                    {{form.layer_rate}}
                                </div>
                                <div class="form-group col-md-12">
                                    <hr>
                                    <h2 class="global_title">Free Trial</h2>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{form.trial_duration_period.label}}</label>
                                    <div class="select_detail">
                                        {{form.trial_duration_period}}
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>{{form.trial_duration.label}}</label>
                                    {{form.trial_duration}}
                                </div>
                                <div class="form-group col-md-12">
                                    <hr>
                                    <h2 class="global_title">Payment</h2>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{form.duration_period.label}}</label>
                                    <div class="select_detail">
                                        {{form.duration_period}}
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>{{form.duration.label}}</label>
                                    {{form.duration}}
                                </div>

                                <div class="form-group col-md-12">
                                    <hr>
                                    <h2 class="global_title">Invoice</h2>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>{{form.due_days.label}}</label>
                                    {{form.due_days}}
                                </div>
                                
                                {% comment %} <div class="form-group col-md-12">
                                    <label>label Message</label>
                                    <input type="text" class="form-control" placeholder="Business Name">
                                </div>
                                
                                
                                <div class="form-group col-md-12">
                                    <div class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                    </div>
                                </div> {% endcomment %}
                                                            
                                <div class="form-group col-md-12">
                                    <button type="submit" class="form_btns">Save</button>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>    
                </form>        
            </div>
            
        </div>
    </div>
    

{% endblock content %}

