{% extends 'base.html' %}
{% load static %}
{% block content %}
  
    <!-- Page Content  -->
    <div id="content" class="">
    	<div class="dashboard">
       		<h2 class="global_title">Builders Dashboard</h2>
            <!-- Dash Blocks -->
            <div class="dash_blocks">
            	<div class="row">
                	<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    	<div class="block">
                            <div class="details">
                            	<h3>92</h3>
                                <small>Total Tradies</small>
                            </div>
                            <i class="icon"><img src="{% static 'images/dash_icon_1.svg' %}" alt=""></i>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    	<div class="block">
                            <div class="details">
                            	<h3>59</h3>
                                <small>Active Tradies</small>
                            </div>
                            <i class="icon"><img src="{% static 'images/dash_icon_2.svg' %}" alt=""></i>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    	<div class="block block_2">
                            <div class="details">
                            	<h3>33</h3>
                                <small>Inactive Tradies</small>
                            </div>
                            <i class="icon"><img src="{% static 'images/dash_icon_3.svg' %}" alt=""></i>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!-- List of Tradies -->
            <div class="trade_list">
            	<div class="row">
                	<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    	<h2 class="global_title">List of Projects</h2>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-right">
                    	<a href="#" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add Project</a>
                    </div>
                </div>
                
                <!-- Table Info -->
                <div class="table_info">
                    <div class="table-responsive">
                    	<table class="table table-borderless table-striped">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Address</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>Tradies</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>0001</td>
                              <td>Lizzie Smith</td>
                              <td>Lot 203 Test St Test town</td>
                              <td>Jordyn_Goodwin53@yahoo.com</td>
                              <td>1234 1234</td>
                              <td>3</td>
                              <td><span class="status">Active</span></td>
                            </tr>
                            <tr>
                              <td>0002</td>
                              <td>Owen Armstrong</td>
                              <td>Lot 203 Test St Test town</td>
                              <td>Urban_Mosciski@gmail.com</td>
                              <td>1234 1234</td>
                              <td>2</td>
                              <td><span class="status red">Close</span></td>
                            </tr>
                            <tr>
                              <td>0003</td>
                              <td>Nicholas Gill</td>
                              <td>Lot 203 Test St Test town</td>
                              <td>Jarred.Reinger62@hotmail.com</td>
                              <td>1234 1234</td>
                              <td>5</td>
                              <td><span class="status red">Close</span></td>
                            </tr>
                            <tr>
                              <td>0004</td>
                              <td>Lizzie Smith</td>
                              <td>Lot 203 Test St Test town</td>
                              <td>Jordyn_Goodwin53@yahoo.com</td>
                              <td>1234 1234</td>
                              <td>4</td>
                              <td><span class="status">Active</span></td>
                            </tr>
                            <tr>
                              <td>0005</td>
                              <td>Owen Armstrong</td>
                              <td>Lot 203 Test St Test town</td>
                              <td>Urban_Mosciski@gmail.com</td>
                              <td>1234 1234</td>
                              <td>2</td>
                              <td><span class="status red">Close</span></td>
                            </tr>
                            <tr>
                              <td>0006</td>
                              <td>Nicholas Gill</td>
                              <td>Lot 203 Test St Test town</td>
                              <td>Jarred.Reinger62@hotmail.com</td>
                              <td>1234 1234</td>
                              <td>1</td>
                              <td><span class="status">Active</span></td>
                            </tr>
                            <tr>
                              <td>0007</td>
                              <td>Lizzie Smith</td>
                              <td>Lot 203 Test St Test town</td>
                              <td>Jordyn_Goodwin53@yahoo.com</td>
                              <td>1234 1234</td>
                              <td>4</td>
                              <td><span class="status">Active</span></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- Pagination Info -->
                <div class="pagination_info">
                	<div class="row">
                    	<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 align-self-center">
                            <p>Showing 07 of 125</p>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 text-right">
                            <ul class="paging_info">
                            	<li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
{% endblock content %}