{% extends 'user-base.html' %}
{% load static %}
{% block content %}
<body class="login_bg">

<div class="login_sec">
	<div class="container">
    	<div class="login_inn">
        	<!-- Logo -->
            <div class="login_logo"><img src="{% static 'images/logo.png' %}" alt=""></div>
            <!-- Details -->
            <div class="details text-center">
            	<h2>Password Changed!</h2>
            	<h6>Your new password has been set. Now you can login with your newly entered password.</h6>
                <br>
                <div class="form_info text-center">
                    <div class="form-group col-md-12">
                        <a href="{% url 'login' %}" class="form_btns">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}