{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <!-- Page Content  -->
    <div id="content" class="">
    	<div class="dashboard setting_sec">
        	<div class="container">
            	<h2 class="global_title">Settings</h2>
                {% if messages %}
                    <div class="fix_alert">
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            {{message}} <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="extra_content">
                <form method="POST" action="">{% csrf_token %}
                        <div class="form_info">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h2 class="global_title">General</h2>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>{{form.first_name.label}}</label>
                                    {{form.first_name}}
                                </div>
                                <div class="form-group col-md-12">
                                    <label>{{form.last_name.label}}</label>
                                    {{form.last_name}}
                                </div>
                                <div class="form-group col-md-12">
                                    <label>{{form.email.label}}</label>
                                    {{form.email}}
                                </div>
                                <div class="form-group col-md-12">
                                    <label>{{form.contact.label}}</label>
                                    {{form.contact}}
                                </div>

                                {% comment %} <div class="form-group col-md-12">
                                    <label>label Message</label>
                                    <input type="text" class="form-control" placeholder="Business Name">
                                </div>
                                
                                <div class="form-group col-md-12">
                                    <label>Status</label>
                                    <div class="select_detail">
                                        <select class="custom-select">
                                            <option>Status</option>
                                            <option>Option</option>
                                            <option>Option</option>
                                            <option>Option</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-12">
                                    <div class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                    </div>
                                </div> {% endcomment %}
                                                            
                                <div class="form-group col-md-12">
                                    <button type="submit" class="form_btns">Save</button>
                                </div>
                                
                            </div>
                        </div>
                        
                    {% comment %} </div>     {% endcomment %}
                </form>   
                <form method="POST" action="{% url 'profile-settings' %}">{% csrf_token %}
                    {% comment %} <div class="extra_content"> {% endcomment %}
                        <div class="form_info">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <hr>     
                                    <h2 class="global_title">Profile</h2>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>{{profile_form.address.label}}</label>
                                    {{profile_form.address}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{profile_form.city.label}}</label>
                                    {{profile_form.city}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{profile_form.state.label}}</label>
                                    {{profile_form.state}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{profile_form.country.label}}</label>
                                    {{profile_form.country}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{profile_form.postal_code.label}}</label>
                                    {{profile_form.postal_code}}
                                </div>
                                <div class="form-group col-md-12">
                                    <label>{{profile_form.auto_pay.label}}</label>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="custom-control custom-checkbox mb-0">
                                    {{profile_form.auto_pay}}
                                    <label class="custom-control-label" for="id_auto_pay">{{profile_form.auto_pay.label}}</label>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-12">
                                    <button type="submit" class="form_btns">Save</button>
                                </div>
                                
                            </div>
                        </div>
                        
                </form>        
                </div>    
            </div>
            
        </div>
    </div>
    

{% endblock content %}

