	<!-- Nav sec -->
  {% load static %}
	<div class="nav_sec">
    	<div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-light">
            <button type="button" id="sidebarCollapse" class="sidebar_btn d-sm-inline-block d-md-inline-block d-lg-inline-block d-xl-none"> <i class="fa fa-bars m-0"></i><span class="sr-only">Toggle Menu</span></button>
              <a href="{% url 'dashboard' %}" class="navbar-brand"><img src="{% static 'images/logo.png' %} " alt=""></a>
              <!--<button class="sidebar_btn nav_btn d-inline-block d-sm-inline-block d-md-inline-block d-lg-none d-xl-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars"></i></button>-->
              
              <div class="search_info mr-auto d-none d-md-inline-block">
                <div class="search">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Find your search term here" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                  </div>
              </div>
              
              
              <div class="order-3 nav_right">
                <ul>
                      <li class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <figure><img src="{%static 'images/user.jpg'%}" alt=""></figure>
                          <span>{{request.user.first_name}}</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="{% url 'account-settings' %}"><i class="fa fa-user"></i> Account Settings</a>
                          <a class="dropdown-item" href="{% url 'password-change' %}"><i class="fa fa-gear"></i> Change Password</a>
                          <a class="dropdown-item logout" href="{% url 'logout' %}" id="logout" ><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                      </li>
                  </ul>
              </div>
              
              <div class="search-wrapper d-inline-block d-md-none">
                      <div class="input-holder">
                          <input type="text" class="search-input" placeholder="Type to search" />
                          <button class="search-icon" onclick="searchToggle(this, event);"><i class="fa fa-search"></i></button>
                      </div>
                      <span class="close" onclick="searchToggle(this, event);">&times;</span>
                  </div>
              
              <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item active"> <a class="nav-link" href="#">Home</a> </li>
                      <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
                      <li class="nav-item"> <a class="nav-link" href="#">Portfolio</a> </li>
                      <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
                  </ul>
              </div>-->
          </nav>
      </div>
  </div>